/*General*/
.col{
  display:flex;
  flex-direction:column;
}

.row{
  display:flex;
  flex-direction:row;
}

/*Login component*/
.FaEye{
  cursor:pointer;
}

/*Header component*/
.header{
}

.menu{
  margin:2px 2px 2px 2px;
  height:35px;
  width:35px;
  cursor:pointer;
  color:#505050;
}

.header-message{
  font-size:35px;
}

/*Sidebar component*/
.sidebar{
  text-align: center;
  overflow-y:scroll;
  height:500px;
}

.slide{
  animation: anim1 0.5s;
}

@keyframes anim1 {
0% {
transform: translateX(-50px);
}
100% {
transform: translateX(0px);
}
}

#overlay1{
  /*　画面を覆う設定　*/
    position:fixed;
    top:50px;
    left:0;
    height:100%;
    width:100%;
    background-color:#00000080;
  
    /*　画面の中央に要素を表示させる設定　*/
    display: flex;
    align-items: left;
  }
  
/*Contents component*/
.contents{
  height:100%;
}

#overlay2{
  /*　画面を覆う設定　*/
    position:fixed;
    top:50px;
    left:0;
    height:100%;
    width:100%;
    background-color:#00000080;
  
    /*　画面の中央に要素を表示させる設定　*/
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #overlay3{
    /*　画面を覆う設定　*/
      position:fixed;
      top:50px;
      left:0;
      height:100%;
      width:100%;
      background-color:#00000080;
    
      /*　画面の中央に要素を表示させる設定　*/
      display: flex;
      align-items: center;
      justify-content: center;
    }
  