.col{
  display:flex;
  flex-direction:column;
}

.row{
  display:flex;
  flex-direction:row;
}

/*
  ProjectButton.tsx
*/
.ProjectButton{
  width:180px;
  height:40px;
  background-color:#ffffff;
  border:none;
  cursor:pointer;
}
.ProjectButton:hover{
  background-color:#dfdfdf;
  font-size:1.05em;
}

/*
  TaskCard.tsx
*/
.TaskCardBlock{
  height:60px;
  vertical-align:middle;
  display:flex;
  background-color:#f2f2f2dd
}

.TaskCardIcon{
  height:40px;
  width:20px;
  margin: 20px 5px auto 5px;
  padding: 0 5px 0 5px;
  cursor: pointer;
}

.TaskCardIcon:hover{
  font-size:1.3em;
  margin : 17px auto auto 3px;
}

.TaskDeadLineBlock{
  text-align:right;
  margin :0 0 10px 0;
  background-color:#f2f2f2dd
}

.btnInModal{
  width:40px;
  text-align:center;
  margin:0 10px 0 10px;
}
