.col{
  display:flex;
  flex-direction:column;
}

.row{
  display:flex;
  flex-direction:row;
}

/*
  ProjectButton.tsx
*/
.ProjectButton{
  outline:none;
  width:180px;
  height:40px;
  background-color:#ffffff;
  border:none;
  cursor:pointer;
}
.ProjectButton:hover{
  background-color:#dfdfdf;
  font-size:16px;
}

/*
  TaskCard.tsx
*/
.TaskCardBlock{
  outline:none;
  border-radius:20px;
  height:60px;
  vertical-align:middle;
  display:flex;
  background-color:#ffffff
}

.TaskCardIcon{
  height:40px;
  width:20px;
  margin: 20px 5px auto 5px;
  padding: 0 5px 0 5px;
  cursor: pointer;
}

.TaskCardIcon:hover{
  font-size:1.3em;
  margin : 17px auto auto 3px;
}

.TaskDeadLineBlock{
  text-align:right;
  margin :0 0 10px 0;
  background-color:#ffffff
}

.btnInModal{
  width:40px;
  text-align:center;
  margin:0 10px 0 10px;
}

/* 
  CreateTasksButton
*/

.CreateTasksButtonBlock{
  height:20px;
  align-items:center;
}

.ShowCreateWindow{
  outline:none;
  height:30px;
  width:55px;
  border-radius:20px;
  border-color:#5498ab99;
  background-color:#5498ab99;
  color:#ffffff;
  margin:auto 0 auto 280px;
  cursor:pointer;
  font-size:13px;
}

.ShowCreateWindow:hover{
  font-size:15px;
}

#overlay_create{
  /*　画面を覆う設定　*/
  position:fixed;
  top:50px;
  left:0px;
  width:100%;
  height:100%;
  background-color:#00000080;
  
  /*　画面の中央に要素を表示させる設定　*/
  display:flex;
  align-items:center;
  justify-content: center;
}

.ModalCreateTasks{
  width:400px;
  height:400px;
  background-color:#ffffff;
}

.CreateTasksInput{
  margin:0 0 0 50px;
}

.CreateTasksButton{
  margin:0 0 0 50px;
}